# Compiled Java classes
/target/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, recursively
hs_err_pid*

# IDE and editor directories, recursively
**/.idea/
**/.vscode/

# Python virtual environment, recursively
**/venv/
